* {
  margin: 0;
  padding: 0;
}
body {
    /*background-color: #116466;*/
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #2C3531, #116466, #D1E8E2);
    padding:0;
}
.jumbotron {    
    text-align: center;
    color: white;
    background-color: #2C3531;
    height: 15%; 
    width: 100%;
    padding: 20px;
}
#indexButtons {
    text-align: center;
}
.custom {
    width: 200px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.centerText{
    text-align: center;
}
label{
    color:white;
}
.form-group{
    margin: 10px;
}

.btn-dark{
    background-color: #2C3531;
    height:100%;
    width:100%;
}
.card-header{
    background-color: #2C3531;        
}


.buttonStat{
    height:100%;
    width:100%;
}
.card-body{
    padding-bottom:275px;
    margin:0px;
    width:100%;
    height:100%;
}
.accordion, .card-header, .card, .chart{
    padding:0px;
    margin: 0px;
    
} 

